#doo-data {
	background: #fff;
	padding:  20px;
}

.dooo-table {
	width:  100%;
	max-width: 900px;
	text-align: left;
}

.paging_simple_numbers {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width:  100%;
	max-width: 900px;
}

.dt-buttons, .dataTables_info {
	margin:  20px 0;
}

.paging_simple_numbers a {
	background-color:  #2271b1;
	color:  #fff;
	padding:  5px 10px;
	margin:  5px;
	transition:  all .4s ease;
}

.paging_simple_numbers a:hover {
	background-color: #424242;
	cursor:  pointer;
}

.dooo-table td {
	padding:  5px 10px;
}

.dooo-table tr:hover, .dooo-table tr.odd:hover {
	background-color: yellow;
}

.dooo-table tr.odd {
	background-color: #efefef;
}

#last-login-table {
	margin-top:  15px;
}